<section class="form_user">
    {{mensages.message}}
    <h1>Registrar</h1>
    {{#if messages.message}}
        <div class="messages">{{messages.message}}</div>
    {{/if}}
    <form action="/user/register" method="post">
        <label for="name">Nome</label>
        <input type="text" name="name" placeholder="Digite seu nome">

        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Digite seu e-mail">

        <label for="description">Senha</label>
        <input type="password" name="password" placeholder="Digite uma senha">

        <label for="description">Senha</label>
        <input type="password" name="confirmpassword" placeholder="Digite a formição de senha">

        <input type="submit" value="Cadastrar">
    </form>
</section>