<section class="form_product">
    <h1>Registrar</h1>
     {{#if messages.message}}
        <div class="messages">{{messages.message}}</div>
    {{/if}}
    <form action="/user/login" method="post">
      
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Digite seu e-mail">

        <label for="description">Senha</label>
        <input type="password" name="password" placeholder="Digite uma senha">
        
        <input type="submit" value="Cadastrar">
    </form>
</section>